#### Rich Metson  
Designer, Writer

#### Bernardo Serrano
Smart Contract Programmer, Content Creation and Implementation

#### Rogerio Sodré
Smart Contract Programmer

#### Jay Springett
Product Manager 

#### Viktoria Wereszczynska
Artist

#### JC Nicolas
Front End Developer

#### Sarah Asberry / Alexandre Barbosa
Marketing Team

#### Alex Mangel / Okhai Omotuembe / Tim Storey
Labs Team
